-- SQL Manager for PostgreSQL 5.9.1.49393
-- ---------------------------------------
-- Host      : localhost
-- Database  : DBDW_Test
-- Version   : PostgreSQL 9.3.13, compiled by Visual C++ build 1600, 64-bit



SET search_path = public, pg_catalog;
DROP TABLE IF EXISTS public.detalle_factura;
DROP INDEX IF EXISTS public.cabeza_factura_numero_key;
DROP TABLE IF EXISTS public.cabeza_factura;
DROP TABLE IF EXISTS public.clientes;
DROP TABLE IF EXISTS public.productos;
SET check_function_bodies = false;
--
-- Structure for table productos (OID = 924038) : 
--
CREATE TABLE public.productos (
    producto integer NOT NULL,
    nombre_producto varchar(100) NOT NULL,
    valor double precision
)
WITH (oids = false);
--
-- Structure for table detalle_factura (OID = 924041) : 
--
CREATE TABLE public.detalle_factura (
    numero integer NOT NULL,
    producto integer NOT NULL,
    cantidad integer,
    valor double precision
)
WITH (oids = false);
--
-- Structure for table cabeza_factura (OID = 924044) : 
--
CREATE TABLE public.cabeza_factura (
    numero integer NOT NULL,
    fecha date DEFAULT ('now'::text)::date,
    cliente integer NOT NULL,
    total double precision
)
WITH (oids = false);
--
-- Structure for table clientes (OID = 924048) : 
--
CREATE TABLE public.clientes (
    cliente integer NOT NULL,
    nombre_cliente varchar(150),
    direccion varchar(150)
)
WITH (oids = false);
--
-- Data for table public.productos (OID = 924038) (LIMIT 0,15)
--
BEGIN;

INSERT INTO productos (producto, nombre_producto, valor)
VALUES (1, 'Producto 1', 10);

INSERT INTO productos (producto, nombre_producto, valor)
VALUES (2, 'Producto 2', 20);

INSERT INTO productos (producto, nombre_producto, valor)
VALUES (3, 'Producto 3', 30);













COMMIT;
--
-- Data for table public.detalle_factura (OID = 924041) (LIMIT 0,500)
--
BEGIN;

INSERT INTO detalle_factura (numero, producto, cantidad, valor)
VALUES (2, 2, 1, 20);

INSERT INTO detalle_factura (numero, producto, cantidad, valor)
VALUES (2, 5, 1, 50);

INSERT INTO detalle_factura (numero, producto, cantidad, valor)
VALUES (2, 6, 1, 60);


















































































































































































































































































































































































































































































































COMMIT;
--
-- Data for table public.detalle_factura (OID = 924041) (LIMIT 500,153)
--
BEGIN;


























































































































































COMMIT;
--
-- Data for table public.cabeza_factura (OID = 924044) (LIMIT 0,99)
--
BEGIN;

INSERT INTO cabeza_factura (numero, fecha, cliente, total)
VALUES (3, '2021-08-22', 1, 240);

INSERT INTO cabeza_factura (numero, fecha, cliente, total)
VALUES (2, '2021-08-21', 1, 200);

INSERT INTO cabeza_factura (numero, fecha, cliente, total)
VALUES (6, '2021-08-25', 1, 600);

































































































COMMIT;
--
-- Data for table public.clientes (OID = 924048) (LIMIT 0,10)
--
BEGIN;

INSERT INTO clientes (cliente, nombre_cliente, direccion)
VALUES (1, 'Cliente 1 ', 'Direccion 1');

INSERT INTO clientes (cliente, nombre_cliente, direccion)
VALUES (2, 'Cliente 2', 'Direccion 2');

INSERT INTO clientes (cliente, nombre_cliente, direccion)
VALUES (3, 'Cliente 3', 'Direccion 3');








COMMIT;
--
-- Definition for index cabeza_factura_numero_key (OID = 924052) : 
--
CREATE UNIQUE INDEX cabeza_factura_numero_key ON cabeza_factura USING btree (numero);
--
-- Definition for index cliente_product_pkey (OID = 924055) : 
--
ALTER TABLE ONLY detalle_factura
    ADD CONSTRAINT cliente_product_pkey
    PRIMARY KEY (numero, producto);
--
-- Definition for index clientes_pkey (OID = 924062) : 
--
ALTER TABLE ONLY clientes
    ADD CONSTRAINT clientes_pkey
    PRIMARY KEY (cliente);
--
-- Definition for index cabeza_factura_idx (OID = 924064) : 
--
ALTER TABLE ONLY cabeza_factura
    ADD CONSTRAINT cabeza_factura_idx
    PRIMARY KEY (numero, cliente);
--
-- Definition for index detalle_factura_fk (OID = 924066) : 
--
ALTER TABLE ONLY detalle_factura
    ADD CONSTRAINT detalle_factura_fk
    FOREIGN KEY (numero) REFERENCES cabeza_factura(numero) ON UPDATE CASCADE ON DELETE CASCADE;
--
-- Definition for index cabeza_factura_fk (OID = 924071) : 
--
ALTER TABLE ONLY cabeza_factura
    ADD CONSTRAINT cabeza_factura_fk
    FOREIGN KEY (cliente) REFERENCES clientes(cliente) ON UPDATE CASCADE ON DELETE CASCADE;
--
-- Definition for index productos_nombre_uq (OID = 924076) : 
--
ALTER TABLE ONLY productos
    ADD CONSTRAINT productos_nombre_uq
    PRIMARY KEY (producto);
--
-- Definition for index detalle_factura_fk1 (OID = 924080) : 
--
ALTER TABLE ONLY detalle_factura
    ADD CONSTRAINT detalle_factura_fk1
    FOREIGN KEY (producto) REFERENCES productos(producto) ON UPDATE CASCADE ON DELETE CASCADE;
--
-- Definition for index product_product_id_key (OID = 924085) : 
--
ALTER TABLE ONLY productos
    ADD CONSTRAINT product_product_id_key
    UNIQUE (nombre_producto);
--
-- Comments
--
COMMENT ON SCHEMA public IS 'standard public schema';
